<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.mapper.FileMapper">
	
	<insert id="insertFile"   parameterType="File" useGeneratedKeys="true" keyProperty="fileid" >
	   insert into file (filename,url,uploadpath,type)
	   values(#{filename},#{fileurl},#{uploadpath},#{type})
	</insert>
	
	<select id="listFileFromCourse" resultType="File">
	  select f.* from course c
	  inner join course_file cf
	  on c.courseid = cf.cid
	  inner join file f
	  on f.fileid = cf.fid
	  where c.courseid = #{courseid}
	  <if test="fileType != null and !''.equals(fileType)">
	    and f.type = #{fileType}
	  </if>
	</select>
	
	
</mapper>