<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.mapper.UserMapper">
	<select id="listUserinfo" resultType="userinfo">
		select * from sysuser 
	</select>
	<select id="userIsExist" parameterType="userinfo" resultType="userinfo">
		select u.* from sysuser u where u.usertel = #{usertel}
	</select>
	
	<insert id="insertUserinfo" parameterType="userinfo">
		insert into sysuser(usertel,userpwd) values(#{usertel},#{userpwd});
	</insert>
	
	<select id="listUserinfoByRoleId" resultType="Userinfo" parameterType="int">
	   select * from sysuser u where u.roleid = #{roleid}
	</select>
	
	<update id="updateUsertruename" parameterType="Userinfo">
	   update sysuser set usertruename = #{usertruename} 
	   where userid = #{userid}
	</update>
	
	<update id="updateUserpwd" parameterType="Userinfo">
	   update sysuser set userpwd = #{userpwd} 
	   where userid = #{userid}
	</update>
	
	
	
	
</mapper>